<template>
  <img alt="logo" class="circular-square" src="./assets/iujo-logo.png">
  <HelloWorld msg="Bienvenido al Servicios de Registros de Almacenes de Ropa"/>
</template>

<script>
import axios from "axios";
  
export default {
  name: "Login",
  data() {
    return {
      items: [],
    };
  },
  
  created() {
    this.getLogin();
  },
  
  methods: {
    // Get All Products
    async getLogin() {
      try {
        const response = await axios.get("http://localhost:5000/almacen");
        this.items = response.data;
      } catch (err) {
        console.log(err);
      }
    },
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #121424;
  margin-top: 60px;
  background-color: rgb(172, 185, 247);
  border-radius: 2px;
}
.circular-square {
border-radius: 4px;
}

</style>
