<template>
<nav>
  <div class="hello">
    <h3>{{ msg }}</h3>
    <ul>
      <li><a href="#" rel="">Servicio</a>
        <ul>
					<li><a href="">Resgistros</a></li>
					<li><a href="">Consultas</a></li>
			</ul>
      </li>
      
      <li><a href="#" rel="">Productos</a>
        <ul>
					<li><a href="">Damas</a></li>
					<li><a href="">Caballeros</a></li>
          <li><a href="">Ninos</a></li>
			</ul>
      </li>
      
      <li><a href="#" rel="">Proveedores</a><ul>
					<li><a href="">Registros</a></li>
					<li><a href="">Consultas</a></li>
			</ul>
      </li>
    <li><a href="#" rel="">Informacion</a></li>
      
    </ul>
  </div>
</nav>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin-left: -40px 0 0;
}
body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
nav{
    display: block;
    margin: 10 auto;

}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 180pt;
    
}
nav ul li:hover ul{
    opacity: 1;
    visibility: visible;
    border-radius: 4px;
    padding-left: 25pt;
}
nav ul li a{
    display: block;
    padding: 0.5rem 1.2rem;
    background: #022058;
    color: rgb(203, 202, 250);
    text-decoration: none;
    transition: 330ms all ease-out;
    border-radius: 4px;
    padding-left: 5pt;
}
nav ul li a:hover{
    background: #d1d1d1;
    color: #212121;
}
nav ul li ul{
    display: block;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 330ms all ease-out;
}
</style>
