<template>
  <div class="login">
      <h1>Ingrese su usuario y su contraseña<a href=""></a></h1>
      <form action="/auth" method="post">
        <label for="username">
          <!-- font awesome icon -->
          <i class="fas fa-user"></i>
        </label>
        <input type="text" name="usuario" placeholder="Usuario" id="usuario" required>
        <label for="password">
          <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="clave" placeholder="Contraseña" id="clave" required>
        <div class="control">
          <button class="button is-success" @click="updateProduct">UPDATE</button>
        </div>
      </form>
    </div>
</template>

<script>
import axios from "axios";
  
  export default {
    name: "login",
    data() {
      return {
        usuario: "",
        clave: "",
      };
    },
    created: function () {
      this.postLogin();
    },
    methods: {
      // Get Product By Id
      async postLogin() {
        try {
          const response = await axios.get(
            `http://localhost:5000/login/${this.$route.params.id}`
          );
          this.usuario = response.data.username;
          this.clave = response.data.password;
        } catch (err) {
          console.log(err);
        }
      },
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

body {
    background-color:rgb(172, 185, 247);
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}
.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.login a {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #1984bc;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
    background-color: #1984bc;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
  background-color: #1984bc;
    transition: background-color 0.2s;
}
</style>
